<?xml version="1.0" encoding="utf-8"?>
<!--
    This file is used to create the navigation hierarchy for the Solutions Explorer (under Host Menu).
    It may be customized to add, remove or change the order of items.
-->

<opml version="2.0">
	<head>
		<title>Hotcakes Commerce Solutions Explorer</title>
		<ownerName>Hotcakes Commerce, LLC</ownerName>
		<ownerEmail>info@hotcakescommerce.com</ownerEmail>
		<docs>http://www.opml.org/spec2</docs>
	</head>
	<body>
		<!-- 
          Append querystring parameters as needed for transmitting Affiliate ID information. 

          Example: 
          
          https://hotcakes.org/rssfeed.aspx?channel=marketsolutions&amp;affiliate=1234
          
          IMPORTANT NOTE:
		
		When using the ampersand character (&) in URL's, it must be encoded as &amp;
    <outline text="Marketplace" type="link" category="Tab/marketplace" xmlUrl="https://hotcakes.org/rssfeed.aspx?channel=marketplacesolutions&amp;affiliateid=10054" />
  
    -->


		<outline text="Hotcakes" type="link" category="Feed" xmlUrl="https://hotcakes.org/Portals/0/SolutionsExplorer/GlobalDirectory.opml" />

	</body>
</opml>